[submodule "StockMarketApplication"]
	path = StockMarketApplication
	url = https://github.com/mwg2202/StockMarketApplication
[submodule "RecipeApp"]
	path = RecipeApp
	url = https://github.com/mwg2202/RecipeApp
[submodule "Demos"]
	path = Demos
	url = https://github.com/mwg2202/Demos
[submodule "Homework"]
	path = Homework
	url = https://github.com/mwg2202/Homework
[submodule "PDESolver"]
	path = PDESolver
	url = https://github.com/mwg2202/PDESolver
