
$Primary-Color: white;
$Secondary-Color: rgb(50, 50, 50);
$Text-Color: white; //#3d4252
$Clickable-Color: rgb(139, 50, 50);

* {
    margin: auto;
    border: 0;
}

a {
    color: $Clickable-Color;
    text-decoration: none;
}

hr {
    border-bottom: .2vw solid gainsboro;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
hr:nth-of-type(2){
    margin-top:100px;
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    font-family: sans-serif;
    header {
        margin-bottom: 10vw;
        background-color: $Secondary-Color;
        position: sticky;
        top: 0;
        padding: 0;
        height: 60px;
        text-align: center;
        display: grid;
        z-index: 1;
        a {
            display: none;
        }
        h1 {
            color: $Text-Color;
            font-size: 3rem;
            align-self: center;
        }
    }
    
    section {
        width: 85vw;
        background-color: $Primary-Color;
        div {
            padding: 3vw 3vw 3vw 3vw;
        }
    }
    
    section:first-of-type {
        div {
            height: 60vw;
            min-height: 400px;
        }
        
        img {
            width: 35vw;
            max-width: 250px;
            float: left;
            margin-right: 3vw;
            margin-bottom: 1vw;
        }

        h1 {
            display: inline-block;
        }
        
        button {
            font-size: 100%;
            font-family: inherit;
            border: 0;
            color: white;
            background-color: $Clickable-Color;
            text-align: center;
            margin-top: 6vw;
            width: 100%;
            height: 50px;
        }
    }
    
    section:nth-of-type(2) {
        div {
            height: 60vw;
            min-height: 370px;
        }
        h2 {
            padding-top: 1rem;
            font-size: 1.25rem;
        }
        img {
            width: 90%;
        }
    }
    
    section:nth-of-type(3) {
        div {
            height: 60vw;
            min-height: 350px;
        }
        h2 {
            margin-top: 1rem;
            font-size: 1.25rem;
        }
        img {
            width: 90%;
        }
    }
    
    
    footer {
        margin-top: 5vw;
        padding: 5vw 5vw 5vw 5vw;
        background-color: $Secondary-Color;
        color: $Text-Color;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 750px) {
    header {
        display: flex !important;
        h1 {
            font-size: 2.5rem !important;
        }
        a {
            display: block !important;
            font-size: .5rem;
            color: white;
        }

    }
    section:first-of-type {
        button {
            width: 25vw !important;
            height: 12vh !important;
            position: relative !important;
            left: 200px;
        }
    }

    section:nth-of-type(3) {
        div {
            height: 20vw !important;
        }
    }

    footer {
        height: 60px !important;
        padding: 0 !important;
        display: flex !important;
        h1 {
            font-size: 1rem !important;
        }
        h2 {
            font-size: .75rem !important;
        }
    }
}